- actions = [{ label: "Open in designer", url: designer_admin_mission_path(run.mission), icon: "fa-solid fa-pen-ruler", style: :secondary }]
= render_page_hero(title: "Run", variant: :compact, title_icon: "fa-solid fa-satellite-dish", record_title: "#{run.mission.name} ##{run.id}", actions:)
