-# Sentinel element: auto-loads more chats when scrolled into view
#chats-load-more{ data: { controller: "intersection-load", "intersection-load-url-value": client_chat_more_path(page: pagy.next) } }
  .chat-load-more-spinner
    %i.fa-solid.fa-spinner.fa-spin
